:root {
  --primary-red: #E30613;
  --primary-yellow: #FCE300;
  --primary-green: #007A33;
  --black: #000000;
  --white: #FFFFFF;
  --gray-light: #F4F4F4;
  --gray-medium: #888888;
  
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

/* Scrollbar profesional */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--gray-light);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-red);
  border-radius: 4px;
}
